<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
  </head>
  <body>
    <div class='container'>
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
  </body>
</html>