html
  background-color #282a36
  color #bebebe

a
  color #8be9fd
  &:hover
    background-color #8be9fd
    color #282a36

h2,
h1,
h3,
h4
  color #fff

code
  color #50fa7b
  padding 0 4px

.page-title
  color #f8f8f2

figure
  .gutter
    color #ff79c6
    background-color #44475a
  .code
    background-color #36394a
  .keyword
    color #ff79c6
  .comment
    color #888
  .built-in
    color #bd93f9
  .title
    color #fff
  .function
    .title
      color #50fa7b