html
  color #44475a

a
  color #6272a4
  &:hover
    background-color #ff79c6
    color #fff

h2,
h1,
h3,
h4
  color #282a36

figure
  .gutter
    color #ff79c6
    background-color #eee
  .code
    background-color #f8f8f2
  .keyword
    color #ff79c6
  .comment
    color #aaa
  .built-in
    color #bd93f9
  .title
    color #000
  .function
    .title
      color #bd93f9

code
  color #7e4fc2