body
  font-family Fira Sans, Helvetica, Arial, sans-serif
  font-size 16px
  width 50em
  position absolute
  left 50%
  margin-left -25em
  line-height 1.4em
  font-weight 300

li
  list-style-type none
  &:before
    content '-'

ol
  & > li
    margin-left -10px

a
  cursor pointer
  padding 0 3px

header
  font-weight 200
  font-size 14px
  margin-top 1.6em
  &.intro
    font-size 18px
    font-weight 300

header:after,
footer:before
  font-weight 300
  font-size 18px
  content '=========================================================================================='
  display block
  opacity 0.6

blockquote:before,
blockquote:after
  content '----------------------------------------------------------------------------------------------------------------------------'
  display block
  opacity 0.6

blockquote
  margin 10px 0
  opacity 0.7
  transition all 0.3s
  &:hover
    opacity 1
  & > p
    padding-left 40px

h1,
h2,
h3,
h4
  font-size 18px
  font-weight normal
h1
  font-weight 600
  &:before
    content '#'
    font-weight normal
    margin-left -1em
    padding-left 5px
    opacity 0.9
h2
  font-weight 400
  padding-left 6px
  &:before
    content '##'
    font-weight normal
    margin-left -2em
    padding-left 5px
    opacity 0.7

h3
  &:before
    content '###'
    margin-left -3em
    padding-left 20px
    opacity 0.5
h4 a
  border-left 2px solid
.page-title
  font-family Fira Sans, Helvetica
  font-weight 700
  font-size 40px
  margin-left -2px

.list-post-time
  opacity 0.6
  font-size 12px

.post
  & > p
    line-height 1.3em

figure
  margin-left 0
  margin-right 0
  position relative
  font-family Fira Mono
  overflow auto
  *
    font-family inherit
    font-size 14px
  table
    width 100%
    border none
    border-collapse collapse
    td
      vertical-align top
  .gutter
    width 1em
    text-align right
    padding-right 5px
  .code
    padding-left 1em
    .line
      opacity 0.7
      &:hover
        opacity 1

.post-detail
  p
    font-weight 300

code
  opacity 0.9
  padding 0 2px
  margin 0 3px