<footer class="footer">
  <div class="theme-changer">
    You are currently using the <span id="theme-indicator">light</span> theme, <a id="theme-change-button">[change]</a>. The color scheme is from the <a href="https://github.com/dracula/dracula-theme" target="_blank">[dracula theme]</a>
    <p>Suscribe this blog, click <a href="/blog/atom.xml">here</a></p>
  </div>
  <link rel="stylesheet" href="/blog/css/style.css">
  <script src="/blog/js/script.js"></script>
  <link rel="stylesheet" href="/blog/css/fira.css">
</footer>